.contato-bkg{
    background-color: var(--bkgEscuro);
}

.contato{
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 25px 0px;
    margin: 0px auto;
    max-width: 1200px;
    gap: 100px;
}

.liGrid{
    display: grid;
}

.contato-bkg.light{
    background-color: #272727;
    transition: .5s
}

@media(max-width:1200px){
    .contato{
        margin-bottom: 0px;
    }
}

@media (max-width:820px){
    .contato{
        grid-template-columns: auto;
    }
}