.header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #141414;
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
}

.header-menu{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.header-menu a{
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    color: #141414;
    display: block;
    position: relative;
}

.header-menu a::after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: #141414;
    margin-top: 4px;
    position: absolute;
    transition: 0.3s;
}

.header-menu a:hover::after{
    width: 80%;
}

@media (max-width: 800px){
    .header{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
        background-color: #fff;
    }

    .header-menu a{
        background-color: #f5f5f5;
        border-radius: 4px;
    }
}

@media (max-width: 435px){
    .header-menu{
        gap: 10px;
    }

    .header-menu a{
        padding: 5px 8px;
    }
}

@media (max-width: 370px){
    .header-menu{
        gap: 5px;
    }

    .header-menu a{
        padding: 10px 5px;
    }
}

@media (max-width: 330px){
    .header-menu{
        gap: 5px;
    }

    .header-menu a{
        padding: 5px 8px;
        font-size: 1rem;
    }
}

@media (max-width: 315px){
    .header-menu{
        gap: 5px;
    }

    .header-menu a{
        padding: 5px 8px;
        font-size: 0.9rem;
    }
}

@media (max-width: 295px){
    .header-menu{
        gap: 5px;
    }

    .header-menu a{
        padding: 5px 8px;
        font-size: 0.8rem;
    }
}