.introducao {
  max-width: 1200px;
  padding: 40px 20px 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}

.introducao img {
  width: 100%;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

.introducao h1 {
  font-size: 3.5rem;
  line-height: 1.125;
  position: relative;
  margin-bottom: 10px;
}

.introducao h1::before {
  content: "";
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  background-image: url("../img/icone-introducao.png");
  z-index: -1;
  top: -40px;
  left: -10px;
}

.introducao p {
  color: #525252;
  font-size: 1.5rem;
}

.introducao.dark {
  background-color: #383838;
  transition: 0.5s;
}

@media (max-width: 1250px) {
  .introducao h1 {
    font-size: 3rem;
  }

  .introducao h1::before {
    width: 70px;
    height: 60px;
    top: -1px;
    left: -6px;
    background-image: url("../img/icone-introducao-menor.png");
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2.5rem;
  }

  .introducao h1::before {
    top: -25px;
    background-image: url("../img/icone-introducao-menorsinho.png") no-repeat;
  }

  .introducao img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 640px) {
  .introducao-bkg {
    background-color: var(--bkgEscuro);
  }
  .introducao {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #f7f7f7;
  }
  .introducao h1 {
    font-size: 2.5rem;
    position: relative;
  }
  .introducao p {
    color: #d1d1d1;
  }
  .introducao-bkg.light {
    background-color: #272727;
    transition: 0.5s;
  }

  .introducao h1::before {
    top: 16px;
    background-image: url("../img/icone-introducao-menorsinho.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 60px;
    left: 0px;
    z-index: 2;
    position: absolute;
  }
}

@media (max-width: 375px) {
  .introducao h1 {
    font-size: 2.125rem;
  }
}
