.introducao{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
}

.introducao img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.introducao h1{
    font-size: 4.12rem;
    line-height: 1.125;
    position: relative;
}

.introducao h1::before{
    content: "";
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    background-image: url('../img/icone-introducao.png');
    z-index: -1;
    top: -10px;
    left: -10px;
}

.ifms{
    color: #348f32;
    position: relative;
}

.ifms::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #e21;
    border: 3px solid #fff;
    left: 2px;
    top: 13px;
    border-radius: 50%;
}

.introducao p{
    color: #525252;
    font-size: 1.5rem;
}

@media (max-width: 1250px){
    .introducao h1{
        font-size: 3rem;
    }

    .introducao h1::before{
        width: 70px;
        height: 60px;
        top: -1px;
        left: -6px;
        background-image: url('../img/icone-introducao-menor.png');
    }

    .ifms::before{
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #e21;
        left: 0px;
        top: 10px;
    }
}

@media (max-width: 800px){
    .introducao{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .introducao h1{
        font-size: 2.5rem;
    }

    .introducao h1::before{
        max-width: 200%;
        width: 32px;
        height: 32px;
        top: -25px;
        left: -3px;
        background-image: url('../img/icone-introducao-menorsinho.png');
    }

    .ifms::before{
        width: 4px;
        height: 4px;
        left: 0px;
        top: 5px;
        border: 2px solid #fff;
    }

    img{
        width: 250px;
    }
}

@media (max-width:640px){
    .introducao{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .introducao img{
        display: none;
    }
    .introducao h1{
        font-size: 3rem;
    }

    .ifms::before{
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #e21;
        border: 3px solid #fff;
        left: 0px;
        top: 10px;
    }
}

@media (max-width:375px){
    .introducao h1{
        font-size: 2.125rem;
    }

    .ifms::before{
        width: 5px;
        height: 4px;
        left: 0px;
        top: 6px;
    }
}